<div *ngIf="hero">
  <h2>{{hero.name}} details:</h2>
    <div>
      <label>id: </label> {{ hero.id }}
    </div>
    <div>
      <label>name: </label>
      <input [(ngModel)]="hero.name" placeholder="name" />
    </div>
    <div>
      <label>field: </label>
      <input [(ngModel)]="hero.field" placeholder="field" />
    </div>
    <div>
      <label>year: </label>
      <input [(ngModel)]="hero.year" placeholder="year" />
    </div>
    <div>
      <label>awarded: </label>
      <textarea [(ngModel)]="hero.description" placeholder="description" ></textarea>
    </div>
    <button (click)="goBack()">Go back</button>
</div>
